<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
  <servlet>
    <servlet-name>jrs</servlet-name>
    <display-name>Jusco Recommender System</display-name>
    <servlet-class>com.jusco.taste.jrs.servlet.RecommenderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>jrs</servlet-name>
  <url-pattern>/jrs</url-pattern>
  </servlet-mapping>
</web-app>